
    <div class="container-fluid">
      <!--NavBar-->
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/#">Fukusuke Sushi</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/Menu">Menú</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/user/signin">Login</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasCarrito"
              >
                <i class="fas fa-shopping-cart"></i> Carrito
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Sidebar Offcanvas para el carrito -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasCarrito"
      aria-labelledby="offcanvasCarritoLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCarritoLabel">
          Carrito de Compras
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="offcanvas-body">
        <!-- Aquí puedes listar los productos agregados al carrito -->
        <p>Tu carrito está vacío.</p>
        <!-- Ejemplo de producto -->
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p>Producto 1</p>
            <p class="text-muted">Cantidad: 1</p>
          </div>
          <p>$10.00</p>
        </div>
        <!-- Agrega más productos aquí según sea necesario -->
      </div>
    </div>

    <!--Fin Navbar-->

      <!--inicio nav-->
      <div class="container-fluid mt-1 bg-danger d-flex justify-content-center">
        <ul class="nav">
          <!-- Primer item del nav -->
          <li class="nav-item">
            <a class="nav-link text-light" href="#Promociones">Promociones</a>
          </li>
          <!-- segundo item del nav -->
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Appetizers</a>
          </li>
          <!-- -->
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Sashimi</a>
          </li>
          <!---->
          <li class="nav-item">
            <a class="nav-link text-light text-decoration-none" href="#"
              >Gohan</a
            >
          </li>
        </ul>
      </div>
      <!--fin del nav-->

      <!--Inicio Imagen promocional-->
      <div class="container-fluid">
        <img src="Imagenes\handroll.webp" class="mx-auto d-block" />
      </div>

      <!--Promociones-->

      <div class="row id=Promociones">
        <div
          class="bg-danger text-light col-12 d-flex justify-content-center p-2"
        >
          Promociones
        </div>
      </div>

      <!--fin de promociones-->

      <!--Inicio de las cartas-->
      <div class="container mt-5">
        <div class="row">
          <!-- Primer producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\20_piezas.jpg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Promo 1</h5>
                <p class="card-text">Rollos de sushi x20.// Precio: $7000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- Segundo producto -->
          <div class="col-md-4">
            <div class="card">
              <img
                src="Imagenes\handroll.webp"
                class="card-img-top"
                alt="Hand Roll"
              />
              <div class="card-body">
                <h5 class="card-title">Hand Roll</h5>
                <p class="card-text">Delicioso HandRoll.// Precio: $1000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- tercer producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\30_piezas.jpeg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Promo 2</h5>
                <p class="card-text">Rollos de Sushi x30.// Precio: $10000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- cuarto producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\40_piezas.jpeg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Promo 3</h5>
                <p class="card-text">Rollos de Sushi x40.// Precio: $15000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de las cartas -->

      <!--Promociones-->

      <div class="row id=Promociones">
        <div
          class="bg-danger text-light col-12 d-flex justify-content-center p-2"
        >
          Appetizers
        </div>
      </div>

      <!--fin de promociones-->

      <!--Inicio de las cartas-->
      <div class="container mt-5">
        <div class="row">
          <!-- Primer producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\Arrollado_primavera.jpg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Arrollado Primavera</h5>
                <p class="card-text">Sabrosos arrollados estilo oriental, rellenos de carne de vacuno, verduras salteadas.// Precio: $5000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- Segundo producto -->
          <div class="col-md-4">
            <div class="card">
              <img
                src="Imagenes\Arrollado_primavera_veggie.jpg" class="card-img-top" alt="Hand Roll"/>
              <div class="card-body">
                <h5 class="card-title">Arrollado Primavera Veggie</h5>
                <p class="card-text">Sabrosos arrollados estilo oriental, rellenos de verduras salteadas.// Precio: $5000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- tercer producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\Ebi_furay.jpeg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Ebi Furai</h5>
                <p class="card-text">Camarones apanados y fritos en panko.// Precio: $6000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- cuarto producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\Gyozas_de_camarón.jpg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Gyoza de Camarón</h5>
                <p class="card-text">Deliciosas empanaditas japonesas rellenas de camarón.// Precio: $5000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de las cartas -->
      <!--Promociones-->

      <div class="row id=Promociones">
        <div
          class="bg-danger text-light col-12 d-flex justify-content-center p-2"
        >
          Sashimis
        </div>
      </div>

      <!--fin de promociones-->

      <!--Inicio de las cartas-->
      <div class="container mt-5">
        <div class="row">
          <!-- Primer producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\Sashimi-de-salmon.jpg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Sashimi de Salmón</h5>
                <p class="card-text">Láminas frescas y finas, perfectas para disfrutar su sabor puro y natural.// Precio: $6000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- Segundo producto -->
          <div class="col-md-4">
            <div class="card">
              <img
                src="Imagenes\Sashimi_de_Camarón.jpeg" class="card-img-top" alt="Hand Roll" />
              <div class="card-body">
                <h5 class="card-title">Sashimi de Camarón</h5>
                <p class="card-text">Frescura marina en delicadas piezas, con textura suave y sabor exquisito.// Precio: $6500</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- tercer producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\Sashimi_de_pulpo.jpg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Sashimi de Pulpo</h5>
                <p class="card-text">Delicadas rodajas de pulpo fresco, con textura tierna y sabor sutil.// Precio: $7000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

      <!-- fin de las cartas -->
      <!--Promociones-->

      <div class="row id=Promociones">
        <div
          class="bg-danger text-light col-12 d-flex justify-content-center p-2"
        >
          Gohans
        </div>
      </div>

      <!--fin de promociones-->

      <!--Inicio de las cartas-->
      <div class="container mt-5">
        <div class="row">
          <!-- Primer producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\Gohan_de_Pollo.jpg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Gohan de Pollo</h5>
                <p class="card-text">Arroz con pollo apanado, palta, queso crema  y cebollín.// Precio: $6000</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- Segundo producto -->
          <div class="col-md-4">
            <div class="card">
              <img
                src="Imagenes\Gohan_de_Camarón.jpg" class="card-img-top" alt="Hand Roll"/>
              <div class="card-body">
                <h5 class="card-title">Gohan de Camarón</h5>
                <p class="card-text">Arroz con pollo apanado, palta, queso crema  y cebollín.// Precio: $6500</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

          <!-- tercer producto -->
          <div class="col-md-4">
            <div class="card">
              <img src="Imagenes\Gohan_de_Salmón.jpeg" class="card-img-top" alt="Sushi" />
              <div class="card-body">
                <h5 class="card-title">Gohan de Salmón</h5>
                <p class="card-text">Arroz con láminas de salmón, palta, queso crema  y cebollín.// Precio: $6500</p>
                <button class="btn btn-primary">Agregar al carrito</button>
              </div>
            </div>
          </div>

      <!-- fin de las cartas -->

      <!-- footer -->
      <footer class="bg-dark text-white text-center text-lg-start mt-5">
        <div class="container p-4">
          <!-- Sección de enlaces -->
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Fukusuke Sushi</h5>
              <p>
                El mejor sushi a domicilio. Calidad y frescura en cada pedido.
              </p>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Enlaces</h5>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Inicio</a></li>
                <li><a href="#" class="text-white">Menú</a></li>
                <li><a href="#" class="text-white">Carrito</a></li>
                <li><a href="login.html" class="text-white">Login</a></li>
                <!-- Modificado para dirigir a la página de login -->
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contacto</h5>
              <p>Email: contacto@fukusukesushi.com</p>
              <p>Teléfono: +123 456 7890</p>
            </div>
          </div>
        </div>

        <!-- Sección de derechos reservados -->
        <div class="text-center p-3 bg-dark">
          © 2024 Fukusuke Sushi. Todos los derechos reservados.
        </div>
      </footer>
    </div>
