
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="text-center mb-4">Crear una cuenta</h2>
          <form>
            <!-- Nombres -->
            <div class="mb-3">
              <label for="nombres" class="form-label">Nombres</label>
              <input
                type="text"
                class="form-control"
                id="nombres"
                placeholder="Ingresa tus nombres"
                maxlength="60"
                required
              />
            </div>

            <!-- Apellidos -->
            <div class="mb-3">
              <label for="apellidos" class="form-label">Apellidos</label>
              <input
                type="text"
                class="form-control"
                id="apellidos"
                placeholder="Ingresa tus apellidos"
                maxlength="60"
                required
              />
            </div>

            <!-- Teléfono -->
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input
                type="text"
                class="form-control"
                id="telefono"
                placeholder="Ingresa tu número de teléfono"
                maxlength="60"
                pattern="[+]?[0-9]*" <!-- Solo permite números y el símbolo "+" -->
                
            </div>

            <!-- Correo Electrónico -->
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Ingresa tu correo electrónico"
                maxlength="60"
                required
              />
            </div>

            <!-- Contraseña -->
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Ingresa tu contraseña"
                maxlength="60"
                required
              />
            </div>

            <!-- Confirmar Contraseña -->
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                placeholder="Confirma tu contraseña"
                maxlength="60"
                required
              />
            </div>

            <!-- Botón para enviar -->
            <button type="submit" class="btn btn-primary w-100">
              Crear
            </button>
          </form>
        </div>
      </div>
    </div>

